<div class="container">
  <form>
    <!-- Email input -->
    <div class="form-outline mb-4">
      <input
        type="email"
        class="form-control"
        placeholder="Username"
        id="username"
        [(ngModel)]="Username"
        name="Username"
        required
      />
    </div>
    <!-- Password input -->
    <div class="form-outline mb-4">
      <input
        type="password"
        class="form-control"
        placeholder="Password"
        id="password"
        [(ngModel)]="Pass"
        name="Pass"
        required
      />
    </div>
    <button
      style="padding: 10px 60px; border: none; border-radius: 4px"
      type="button"
      class="btn btn-primary btn-block mb-4"
      (click)="login()"
    >
      Sign in
    </button>
  </form>
</div>
